@using System.Globalization;
@using BookSale.Management.Application.DTOs.Books;
@model BookForSiteDTO;

<div class="row">
    <div class="col-md-0 col-lg-3 mb-3">
        <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
            <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                <i class="mdi mdi-menu mdi-24px"></i>
            </a>
        </div>

        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme" data-bg-class="bg-menu-theme">
            <div class="app-brand demo">

                <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
                    <i class="mdi menu-toggle-icon d-xl-block align-middle mdi-20px"></i>
                </a>
            </div>

            <div class="menu-inner-shadow" style="display: none;"></div>

            <ul class="menu-inner py-1 ps ps--active-y">
                <li class="menu-item">
                    <a href="javascript:void(0);" class="menu-link menu-toggle waves-effect">
                        <img src="~/images/shop/filter-icon.png" />
                        <div>Filter</div>
                    </a>
                    <ul class="menu-sub">
                        <li class="menu-item">
                            <a href="/shop?g=0" class="menu-link">
                                <div>All</div>
                            </a>
                        </li>
                        @await Component.InvokeAsync("GenreList", new { isActive = true });
                    </ul>
                </li>
            </ul>
        </aside>

    </div>
    <div class="col-md-12 col-lg-9 mb-3">
        <div class="row row-cols-1 row-cols-md-4 g-4 mb-5" id="content-book">
            @{
                var books = Model.Books;

                if (books.Count() > 0)
                {
                    foreach (var book in books)
                    {
                        <partial name="_ProductItems.cshtml" model="book" />
                    }
                }
                else
                {
                    <p>No data to display</p>
                }
            }
        </div>
        <div class="card-body">
            <input type="hidden" value="@ViewBag.CurrentGenre" id="current-genre" />
            <input type="hidden" value="@ViewBag.CurrentPageIndex" id="current-page-index" />
            <div class="col-md-6 offset-md-3 text-center">
                <small id="txt-panigation">@Model.CurrentRecord items of @Model.TotalRecord</small>
                <div class="progress" style="height: 6px">
                    <div class="progress-bar" id="progress-bar" role="progressbar" style="width: @(Model.ProressingValue)%" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                @{
                    bool isDisable = Model.IsDisable;

                    if (isDisable)
                    {
                        <button type="button" id="btn-load-more" disabled class="btn btn-sm btn-primary waves-effect waves-light mt-2">Load more</button>
                    }
                    else
                    {
                        <button type="button" id="btn-load-more" class="btn btn-sm btn-primary waves-effect waves-light mt-2">Load more</button>
                    }
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/components/shop.js"></script>
}
