@using BookSale.Management.Application.DTOs.Books;
@using System.Globalization
@model IEnumerable<BookSale.Management.Application.DTOs.User.UserAdressDTO>;

<div class="row">
    <div class="col-7">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h1 class="mb-0">Check out</h1>

                <button type="button" class="btn btn-info waves-effect waves-light" id="btn-change-address" style="float:left;">Change address</button>
            </div>
            <div class="card-body">
                <form>
                    <div class="form-floating form-floating-outline mb-4">
                        <input type="text" class="form-control" id="txtFullName" placeholder="Enter your name">
                        <label for="txtFullName">Full name</label>
                    </div>

                    <div class="form-floating form-floating-outline mb-4">
                        <input type="text" class="form-control" id="txtPhone" placeholder="Enter your number phone">
                        <label for="txtPhone">Phone</label>
                    </div>
                    <div class="form-floating form-floating-outline mb-4">
                        <input type="email" class="form-control" id="txtEmail" placeholder="Enter your e mail">
                        <label for="txtEmail">Email</label>
                    </div>
                    <div class="form-floating form-floating-outline mb-4">
                        <input type="text" class="form-control" id="txtAdress" placeholder="Enter your adress">
                        <label for="txtAdress">Address</label>
                    </div>
                    <button type="button" class="btn btn-success waves-effect waves-light" style="float:left;">Complete Purchase</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-5">
        <h3>Your cart</h3>
        <table class="table table-info">
            @{
                IEnumerable<BookCartDTO> books = new List<BookCartDTO>();

                if (ViewBag.Books is not null)
                {
                    books = ViewBag.Books as IEnumerable<BookCartDTO>;
                }
            }
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int number = 0;
                    double total = 0;
                    foreach (var book in books)
                    {
                        number++;
                        <tr>
                            <th scope="row">@number</th>
                            <td>@book.Title</td>
                            <td>@book.Quantity</td>
                            <td>@book.Price.ToString("C", CultureInfo.GetCultureInfo("vi-VN"))</td>
                        </tr>
                        total += book.Quantity * book.Price;
                    }
                }

                @if (ViewBag.Books is null)
                {
                <td colspan="4">No data</td>
                }

            <tr>
                <td colspan="3"><b>Total:</b></td>
                <td colspan="1" id="txt-total-cart"><b>@total.ToString("C", CultureInfo.GetCultureInfo("vi-VN"))</b></td>
            </tr>

            </tbody>
        </table>
    </div>
</div>

@await Html.PartialAsync("_AddressModal.cshtml", Model)


@section Scripts {
    <script src="~/js/components/checkout.js"></script>
    <script>
        $(document).ready(function () {
            $('.address').tooltip({
                html: true,
                trigger: 'hover focus',
                template: '<div class="tooltip" role="tooltip"><div class="tooltip-inner bg-info"></div></div>',
            });
        });
    </script>
}