@using System.Globalization
@model IEnumerable<BookSale.Management.Application.DTOs.Books.BookCartDTO>;


<div class="card">
    <h3 class="card-header">
        <b>CART ITEMS</b>
        <button type="button" id="btn-save-cart" class="btn btn-primary waves-effect waves-light" style="float: right">
            <span class="tf-icons mdi mdi-content-save me-1"></span>Save
        </button>
        <a type="button" href="checkout?returnUrl=/checkout" id="btn-checkout" class="btn btn-success waves-effect waves-light mx-3 @(Model is not null ? "" : "disabled")" style="float: right">
            <span class="tf-icons mdi mdi-cart-check me-1"></span>Check out
        </a>
    </h3>

    <div class="table-responsive text-nowrap">
        <table class="table table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>#</th>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="tbody-cart">
                @{
                    double totalCart = 0;
                    int totalItems = 0;
                    if (Model is not null)
                    {
                        foreach (var book in Model)
                        {
                            totalItems++;
                            <tr data-code="@book.Code">
                                <td width="80px">@totalItems</td>
                                <td class="text-center" style="width: 100px"><img src="~/images/book/@(book.Id).png" style="height: 150; max-width:150px" /></td>
                                <td>@book.Title</td>
                                <td width="150px"><input min="0" type="number" value="@book.Quantity" class="form-control txt-quantity" /></td>
                                <td width="150px" class="txt-price">@book.Price.ToString("C", CultureInfo.GetCultureInfo("vi-VN"))</td>
                                <td width="150px" class="txt-total">@((book.Quantity * book.Price).ToString("C", CultureInfo.GetCultureInfo("vi-VN")))</td>
                                <td width="50px">
                                    <a href="#" class="btn-delete-cart"><img src="~/images/trash-icon.png" width="32px" /></a>
                                </td>
                            </tr>

                            totalCart += book.Quantity * book.Price;
                        }
                    }
                }

                <tr>
                    <td colspan="3"></td>
                    <td colspan="2"><b>Total:</b></td>
                    <td colspan="2" id="txt-total-cart"><b>@totalCart.ToString("C", CultureInfo.GetCultureInfo("vi-VN"))</b></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/js/components/cart.js"></script>
}
